# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# custom
dist
build
.spec
pyinstaller_command.txt
test.png
urls.txt
venv
.vscode
__pycache__
env
.DS_Store
Chrome-bin/win
Chrome-bin/mac
Chrome-bin/linux
Chrome-bin-linux.zip
Chrome-bin-win.zip
Chrome-bin-osx.zip
temp.py
src/ChromeBinary/win/chrome.exe
src/ChromeBinary/win/96.0.4664.110/chrome_100_percent.pak
src/ChromeBinary/win/96.0.4664.110/chrome_200_percent.pak
src/ChromeBinary/win/96.0.4664.110/chrome_elf.dll
src/ChromeBinary/win/96.0.4664.110/chrome_pwa_launcher.exe
src/ChromeBinary/win/96.0.4664.110/chrome.dll
src/ChromeBinary/win/96.0.4664.110/chrome.dll.sig
src/ChromeBinary/win/96.0.4664.110/chrome.exe.sig
src/ChromeBinary/win/96.0.4664.110/d3dcompiler_47.dll
src/ChromeBinary/win/96.0.4664.110/elevation_service.exe
src/ChromeBinary/win/96.0.4664.110/eventlog_provider.dll
src/ChromeBinary/win/96.0.4664.110/icudtl.dat
src/ChromeBinary/win/96.0.4664.110/libEGL.dll
src/ChromeBinary/win/96.0.4664.110/libGLESv2.dll
src/ChromeBinary/win/96.0.4664.110/mojo_core.dll
src/ChromeBinary/win/96.0.4664.110/nacl_irt_x86_64.nexe
src/ChromeBinary/win/96.0.4664.110/notification_helper.exe
src/ChromeBinary/win/96.0.4664.110/resources.pak
src/ChromeBinary/win/96.0.4664.110/v8_context_snapshot.bin
src/ChromeBinary/win/96.0.4664.110/vk_swiftshader_icd.json
src/ChromeBinary/win/96.0.4664.110/vk_swiftshader.dll
src/ChromeBinary/win/96.0.4664.110/vulkan-1.dll
src/ChromeBinary/win/96.0.4664.110/Extensions/external_extensions.json
src/ChromeBinary/win/96.0.4664.110/Locales/am.pak
src/ChromeBinary/win/96.0.4664.110/Locales/ar.pak
src/ChromeBinary/win/96.0.4664.110/Locales/bg.pak
src/ChromeBinary/win/96.0.4664.110/Locales/bn.pak
src/ChromeBinary/win/96.0.4664.110/Locales/ca.pak
src/ChromeBinary/win/96.0.4664.110/Locales/cs.pak
src/ChromeBinary/win/96.0.4664.110/Locales/da.pak
src/ChromeBinary/win/96.0.4664.110/Locales/de.pak
src/ChromeBinary/win/96.0.4664.110/Locales/el.pak
src/ChromeBinary/win/96.0.4664.110/Locales/en-GB.pak
src/ChromeBinary/win/96.0.4664.110/Locales/en-US.pak
src/ChromeBinary/win/96.0.4664.110/Locales/es-419.pak
src/ChromeBinary/win/96.0.4664.110/Locales/es.pak
src/ChromeBinary/win/96.0.4664.110/Locales/et.pak
src/ChromeBinary/win/96.0.4664.110/Locales/fa.pak
src/ChromeBinary/win/96.0.4664.110/Locales/fi.pak
src/ChromeBinary/win/96.0.4664.110/Locales/fil.pak
src/ChromeBinary/win/96.0.4664.110/Locales/fr.pak
src/ChromeBinary/win/96.0.4664.110/Locales/gu.pak
src/ChromeBinary/win/96.0.4664.110/Locales/he.pak
src/ChromeBinary/win/96.0.4664.110/Locales/hi.pak
src/ChromeBinary/win/96.0.4664.110/Locales/hr.pak
src/ChromeBinary/win/96.0.4664.110/Locales/hu.pak
src/ChromeBinary/win/96.0.4664.110/Locales/id.pak
src/ChromeBinary/win/96.0.4664.110/Locales/it.pak
src/ChromeBinary/win/96.0.4664.110/Locales/ja.pak
src/ChromeBinary/win/96.0.4664.110/Locales/kn.pak
src/ChromeBinary/win/96.0.4664.110/Locales/ko.pak
src/ChromeBinary/win/96.0.4664.110/Locales/lt.pak
src/ChromeBinary/win/96.0.4664.110/Locales/lv.pak
src/ChromeBinary/win/96.0.4664.110/Locales/ml.pak
src/ChromeBinary/win/96.0.4664.110/Locales/mr.pak
src/ChromeBinary/win/96.0.4664.110/Locales/ms.pak
src/ChromeBinary/win/96.0.4664.110/Locales/nb.pak
src/ChromeBinary/win/96.0.4664.110/Locales/nl.pak
src/ChromeBinary/win/96.0.4664.110/Locales/pl.pak
src/ChromeBinary/win/96.0.4664.110/Locales/pt-BR.pak
src/ChromeBinary/win/96.0.4664.110/Locales/pt-PT.pak
src/ChromeBinary/win/96.0.4664.110/Locales/ro.pak
src/ChromeBinary/win/96.0.4664.110/Locales/ru.pak
src/ChromeBinary/win/96.0.4664.110/Locales/sk.pak
src/ChromeBinary/win/96.0.4664.110/Locales/sl.pak
src/ChromeBinary/win/96.0.4664.110/Locales/sr.pak
src/ChromeBinary/win/96.0.4664.110/Locales/sv.pak
src/ChromeBinary/win/96.0.4664.110/Locales/sw.pak
src/ChromeBinary/win/96.0.4664.110/Locales/ta.pak
src/ChromeBinary/win/96.0.4664.110/Locales/te.pak
src/ChromeBinary/win/96.0.4664.110/Locales/th.pak
src/ChromeBinary/win/96.0.4664.110/Locales/tr.pak
src/ChromeBinary/win/96.0.4664.110/Locales/uk.pak
src/ChromeBinary/win/96.0.4664.110/Locales/vi.pak
src/ChromeBinary/win/96.0.4664.110/Locales/zh-CN.pak
src/ChromeBinary/win/96.0.4664.110/Locales/zh-TW.pak
src/ChromeBinary/win/96.0.4664.110/MEIPreload/manifest.json
src/ChromeBinary/win/96.0.4664.110/MEIPreload/preloaded_data.pb
src/ChromeBinary/win/96.0.4664.110/VisualElements/Logo.png
src/ChromeBinary/win/96.0.4664.110/VisualElements/LogoBeta.png
src/ChromeBinary/win/96.0.4664.110/VisualElements/LogoCanary.png
src/ChromeBinary/win/96.0.4664.110/VisualElements/LogoDev.png
src/ChromeBinary/win/96.0.4664.110/VisualElements/SmallLogo.png
src/ChromeBinary/win/96.0.4664.110/VisualElements/SmallLogoBeta.png
src/ChromeBinary/win/96.0.4664.110/VisualElements/SmallLogoCanary.png
src/ChromeBinary/win/96.0.4664.110/VisualElements/SmallLogoDev.png
src/ChromeBinary/win/96.0.4664.110/WidevineCdm/LICENSE
src/ChromeBinary/win/96.0.4664.110/WidevineCdm/manifest.json
src/ChromeBinary/win/96.0.4664.110/WidevineCdm/_platform_specific/win_x64/widevinecdm.dll
src/ChromeBinary/win/96.0.4664.110/WidevineCdm/_platform_specific/win_x64/widevinecdm.dll.sig
src/ChromeBinary/win/96.0.4664.110/default_apps/external_extensions.json
src/ChromeBinary/win/96.0.4664.110/swiftshader/libEGL.dll
src/ChromeBinary/win/96.0.4664.110/swiftshader/libGLESv2.dll
src/ChromeDrivers/win/chromedriver.exe
.idea/.gitignore
.idea/CamelCaseConfigNew.xml
.idea/educative.io_scraper.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/inspectionProfiles/profiles_settings.xml
